Repository stylify/packages: changes, and which Codecov flags are due for each by the changed paths.
All: autoprefixer, cli, stylify

United eslint
  .eslintrc.yml
  package.json
  packages/autoprefixer/.eslintrc.yml
  packages/autoprefixer/package.json
  packages/autoprefixer/yarn.lock
  packages/nuxt-module/.eslintrc.yml
  packages/nuxt-module/package.json
  packages/nuxt-module/src/index.ts
  packages/nuxt-module/yarn.lock
  packages/profiler/.prettierrc.yml
  packages/profiler/package.json
  packages/profiler/yarn.lock
  packages/stylify/.eslintrc.yml
  packages/stylify/.prettierrc.yml
  packages/stylify/package.json
  packages/stylify/tools/native-preset-generator/index.js
  packages/stylify/yarn.lock
  scripts/eslint.js
  tsconfig.json
  yarn.lock
Due: autoprefixer, stylify

United jest tests
  .gitignore
  jest.config.js
  package.json
  packages/autoprefixer/jest.config.js
  packages/autoprefixer/package.json
  packages/nuxt-module/src/index.ts
  packages/stylify/package.json
  tests/__mocks/fileMock.js
  yarn.lock
Due: autoprefixer, stylify

Remove chrome dockerfile
  docker-compose.yml
  docker/chrome/Dockerfile
Due: none

Remove individual lint check and fix commands
  package.json
Due: none

Remove unnecessary init and test commands
  package.json
  packages/autoprefixer/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, stylify

Remove coverage from gitignore
  .gitignore
Due: none

Update license
  LICENSE
  packages/autoprefixer/LICENSE
  packages/autoprefixer/rollup.config.js
  packages/nuxt-module/LICENSE
  packages/nuxt-module/rollup.config.js
  packages/profiler/LICENSE
  packages/profiler/rollup.config.js
  packages/stylify/LICENSE
  packages/stylify/rollup.config.js
Due: autoprefixer, stylify

Remove eslint from stylify
  .eslintrc.yml
  packages/stylify/.eslintrc.yml
Due: stylify

United rollup build
  .eslintrc.yml
  .github/workflows/tests.yaml
  babel.config.json
  jest.config.js
  package.json
  packages/autoprefixer/babel.config.json
  packages/autoprefixer/package.json
  packages/autoprefixer/rollup.config.js
  packages/autoprefixer/tsconfig.json
  packages/nuxt-module/package.json
  packages/nuxt-module/rollup.config.js
  packages/nuxt-module/src/index.ts
  packages/nuxt-module/src/stylify-plugin.ts
  packages/nuxt-module/src/webpack-loader.ts
  packages/nuxt-module/tsconfig.json
  packages/profiler/index.html
  packages/profiler/package.json
  packages/profiler/rollup.config.js
  packages/profiler/tsconfig.json
  packages/stylify/babel.config.json
  packages/stylify/package.json
  packages/stylify/rollup.config.js
  packages/stylify/tsconfig.json
  scripts/ArgumentsProcessor/ArgumentsProcessor.ts
  scripts/ArgumentsProcessor/index.ts
  scripts/Build/Build.ts
  scripts/Build/BuildConfig.ts
  scripts/Build/index.ts
  scripts/TypesGenerator/TypesGenerator.ts
  scripts/TypesGenerator/index.ts
  scripts/build.ts
  scripts/eslint.js
  scripts/types.ts
  tsconfig.json
  yarn.lock
Due: autoprefixer, stylify

Refactor names cases and instances imports
  packages/autoprefixer/src/Prefixer.ts
  packages/autoprefixer/tests/jest/prefixer.test.ts
  packages/nuxt-module/src/index.ts
  packages/profiler/src/Extensions/BuildsAnalyzer.tsx
  packages/profiler/src/Extensions/CacheInfo.tsx
  packages/profiler/src/Extensions/ConfigurationsVisualizer.tsx
  packages/profiler/src/Extensions/DomNodesCounter.tsx
  packages/profiler/src/Toolbar.tsx
  packages/profiler/src/index.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/HooksManager.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/src/Stylify.native.browser.ts
  packages/stylify/src/Stylify.ts
  packages/stylify/src/index.ts
  packages/stylify/src/stylify.browser.ts
  packages/stylify/src/stylify.native.browser.ts
  scripts/build.ts
Due: autoprefixer, stylify

Update README.md
  README.md
Due: none

Add scope options into the bundler
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/single-file.test.ts
  scripts/build.ts
Due: none

Reuse created reg exp source
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Remove mangled selectors map
  packages/nuxt-module/src/index.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/deserialize/expected/index.json
  packages/stylify/tests/jest/dynamic-screens/expected/index.json
Due: stylify

Css tree refactoring
  index.html
  packages/autoprefixer/src/PrefixesGenerator.ts
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/single-file/expected/second.css
  packages/nuxt-module/src/index.ts
  packages/profiler/src/Extensions/BuildsAnalyzer.tsx
  packages/profiler/src/Profiler.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/tests/jest/deserialize.test.ts
  packages/stylify/tests/jest/deserialize/expected/combined.css
  packages/stylify/tests/jest/deserialize/expected/from-serialized.css
  packages/stylify/tests/jest/deserialize/expected/index.json
  packages/stylify/tests/jest/deserialize/input/index.json
  packages/stylify/tests/jest/dynamic-screens/expected/index.json
Due: autoprefixer, stylify

Add bundler into coverage
  codecov.yml
Due: none

Remove default exports where not necessary
  packages/profiler/src/Extensions/BuildsAnalyzer.tsx
  packages/profiler/src/Extensions/CacheInfo.tsx
  packages/profiler/src/Extensions/ConfigurationsVisualizer.tsx
  packages/profiler/src/Extensions/DomNodesCounter.tsx
  packages/profiler/src/Extensions/index.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/src/Compiler/CssRecord.ts
  packages/stylify/src/Compiler/MacroMatch.ts
  packages/stylify/src/Compiler/SelectorProperties.ts
  packages/stylify/src/Compiler/index.ts
  packages/stylify/src/Presets/index.ts
  packages/stylify/src/Runtime.ts
  packages/stylify/src/index.ts
Due: stylify

Rename options to config
  packages/bundler/src/Bundler.ts
  packages/profiler/src/Toolbar.tsx
Due: none

Remove Partial where possible
  packages/autoprefixer/src/Prefixer.ts
  packages/autoprefixer/src/PrefixesGenerator.ts
  packages/bundler/src/Bundler.ts
  packages/nuxt-module/src/index.ts
  packages/stylify/src/Compiler/CompilationResult.ts
  packages/stylify/src/Runtime.ts
Due: autoprefixer, stylify

Fix compiler
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Profiler fixes
  packages/profiler/package.json
  packages/profiler/src/Extensions/CacheInfo.tsx
  packages/profiler/src/Extensions/ConfigurationsVisualizer.tsx
  scripts/build.ts
Due: none

Fix native preset file name in generator
  packages/stylify/tools/native-preset-generator/index.js
Due: stylify

Mach plain selectors in content
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Update nativePreset with border styles
  packages/stylify/src/Presets/nativePreset.ts
Due: stylify

Runtime configure returns void now
  packages/stylify/src/Runtime.ts
Due: stylify

Remove autoprefixer from dependencies
  packages/nuxt-module/package.json
  packages/nuxt-module/yarn.lock
Due: none

Update readme
  README.md
  logo.svg
  stylify-logo.png
  stylify.gif
Due: none

Various profiler fixes
  packages/profiler/src/Extensions/CompilerExtension.tsx
  packages/profiler/src/Extensions/RuntimeExtension.tsx
  packages/profiler/src/Extensions/SummaryExtension.tsx
  packages/profiler/src/Profiler.ts
  scripts/build.ts
Due: none

Updated package json files and build
  .gitignore
  package.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/nuxt-module/playground/assets/.gitignore
  packages/profiler/package.json
  packages/stylify/package.json
  scripts/build.ts
Due: autoprefixer, stylify

First release
  lerna.json
  package.json
  packages/autoprefixer/package.json
  packages/bundler/package.json
  packages/nuxt-module/package.json
  packages/profiler/package.json
  packages/stylify/package.json
Due: autoprefixer, stylify

Fix duplicate selectors mangling
  packages/stylify/src/Compiler/Compiler.ts
  packages/stylify/tests/jest/mangle-duplicate-selectors.test.ts
  packages/stylify/tests/jest/mangle-duplicate-selectors/expected/index.css
  packages/stylify/tests/jest/mangle-duplicate-selectors/expected/index.html
  packages/stylify/tests/jest/mangle-duplicate-selectors/input/index.html
Due: stylify

Dump Profiler info only when in a dev mode
  packages/nuxt-module/src/index.ts
Due: none

Fix undefined window.Stylify
  packages/stylify/src/Runtime.ts
  packages/stylify/src/index.browser.native.ts
Due: stylify

Bundler: Normlize non unix paths to files
  packages/bundler/package.json
  packages/bundler/src/Bundler.ts
  packages/bundler/tests/jest/normalized-path.test.ts
  packages/bundler/tests/jest/normalized-path/expected/index.css
  packages/bundler/tests/jest/normalized-path/input/index.html
  packages/bundler/tests/jest/normalized-path/input/nested/dir/part.html
  packages/bundler/yarn.lock
  scripts/build.ts
Due: none

Bundler: Fix infinite watch hook build
  packages/bundler/src/Bundler.ts
Due: none

Stylify: Move stylify-ignore on the beginning of the ignored elements array
  packages/stylify/src/Compiler/Compiler.ts
Due: stylify

Path conditions:
  autoprefixer: any of: packages/autoprefixer/
  cli: any of: packages/cli/
  stylify: any of: packages/stylify/
